# black-compatible configurations for various Python code formatters.
# Assembled from https://black.readthedocs.io/en/stable/compatible_configs.html

[tool.black]
line_length = 120
target_version = ["py36", "py37", "py38", "py39", "py310"]
experimental_string_processing = true
required_version = "22.3.0"

[tool.autopep8]
exclude = ".git,__pycache__"
max-line-length = 120
ignore = "E203,E501,W6"

[tool.isort]
profile = "black"
py_version = "all"
known_first_party = "autopxd"
known_third_party = ["click", "pycparser"]
# line_length is intentionally small, to ensure each imported object gets its
# own line.
line_length = 10
multi_line_output = 3
include_trailing_comma = true

[tool.pylint.messages_control]
disable = """missing-module-docstring,
             missing-class-docstring,
             too-few-public-methods,
             missing-function-docstring,
             import-error,
             invalid-name,
             too-many-branches,
             too-many-arguments,"""

[tool.pylint.format]
max-line-length = "120"
