# yamllint disable rule:line-length

name: Test

on: [push, pull_request]

jobs:
  test-unix:
    name: Test Unix (${{ matrix.os }}, py${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python-version: '3.10'
          - os: macos-latest
            python-version: '3.13'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -e .[dev]

      - name: Test
        run: pytest ./test

  test-windows:
    name: Test Windows (py${{ matrix.python-version }})
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.13']

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -e .[dev]

      - name: Test
        run: pytest ./test
